name: Create Production Deployment PR

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout master
        uses: actions/checkout@v2
      - name: Use Node.js 10.x
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: Build plugin
        run: |
          yarn install
          yarn build
          echo "Copying .github directory to temp folder so we can keep gh-pages' actions up to date"
          mv build ../build
          cp -r .github test-browser package.json nightwatch.conf.js ../build/
          echo "Copying build directory to temp folder or it will be wiped out when we checkout gh-pages"
          echo "Setting environment variable COMMIT_SHA to the shortened hash of the current commit: ${GITHUB_SHA::8}"
          echo "::set-env name=COMMIT_SHA::${GITHUB_SHA::8}"
      - name: Checkout gh-pages
        uses: actions/checkout@v2
        with:
          ref: gh-pages
      - name: Set up build files based on gh-pages for commit
        run: |
          rm -rf *
          rm -rf .github
          mv ../build/.github ./.github
          mv ../build/* ./
          echo "remix-plugin.goquorum.com" > CNAME
          echo "Deployment of quorum-remix at commit $COMMIT_SHA to remix-plugin.goquorum.com" > README.md
          echo "" >> README.md
          echo "Access through Remix at https://remix.ethereum.org" >> README.md
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v2
        with:
          title: "[Prod Release] Merge to gh-pages"
          commit-message: "Build of #${{ env.COMMIT_SHA }}"
          body: |
            This pull request will update with any new commits to the master branch. It is currently at ${{ env.COMMIT_SHA }}

            When ready for release, merge this pull request to go live in production at remix-plugin.goquorum.com

            You can delete the release/prod branch after merging.
          base: gh-pages
          branch: release/prod
          token: ${{ secrets.GITHUB_TOKEN }}
